# Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyc

# Virtualenv
venv/
.env
*.env

# Django
*.log
db.sqlite3
/staticfiles/
media/

# IDEs
.vscode/
.idea/

# Ignorar binários grandes do Chrome
whatsapp_bridge/chrome/chrome-win.zip
whatsapp_bridge/chrome/chrome-win/chrome.dll
whatsapp_bridge/chrome/chrome-win/interactive_ui_tests.exe